<div class="page-wrapper">
    <div class="page-inner bg-brand-gradient">
        <div class="page-content-wrapper bg-transparent m-0">
            <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
                <div class="d-flex align-items-center container p-0">
                    <div
                        class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
                        <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                            <img src="assets/img/urf-logo.png" alt="SmartAdmin WebApp" aria-roledescription="logo">
                            <span class="page-logo-text mr-1">Observer Urf</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="page-content"
                style="background: url(assets/img/svg/pattern-3.svg) no-repeat center bottom fixed; background-size: cover;">

                <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
                    <div class="row">
                        <div class="col-xl-12">
                            <h2 class="fs-xxl fw-500 mt-4 text-white text-center">
                                Join Urf and spectate the top players battle it out on the Rift!
                                <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
                                    Earn and bet channel points on who you think will be the victorious team!
                                </small>
                            </h2>
                        </div>

                        <div id="panel-11" class="panel">
                            <div class="panel-container show">
                                <div class="panel-content">
                                    <div class="card-deck">
                                        <div class="card">
                                            <div class="w-100 bg-fusion-50 rounded-top">
                                                <a style="background-color: #6441a4; color: white;"
                                                    class="twitch-btn btn btn-pills btn-lg btn-block"
                                                    href="https://www.twitch.tv/observerurf"><i
                                                        class="fab fa-twitch"></i><span style="margin-left: 1rem">Visit
                                                        Observer Urf</span>
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title"><strong>Join Urf and his friends now!</strong>
                                                </h5>
                                                <p class="card-text"><img class="image1"
                                                        src="https://dev.twitch.tv/marketing-assets/images/build-the-future/extensions/0.png">
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="w-100 bg-fusion-50 rounded-top">
                                                <a *ngIf="!inDevelopment" style="background-color: #6441a4; color: white;"
                                                    class="twitch-btn btn btn-pills btn-lg btn-block"
                                                    [routerLink]="['/dashboard']"><i class="fab fa-twitch"></i><span
                                                        style="margin-left: 1rem">Login with Twitch Account</span>
                                                </a>
                                                <a *ngIf="inDevelopment" style="background-color: #6441a4; color: white;"
                                                    class="twitch-btn btn btn-pills btn-lg btn-block"><i class="fab fa-twitch"></i><span
                                                        style="margin-left: 1rem">Login with Twitch Account (In Development - Disabled)</span>
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <h5 class="card-title"><strong>Access the dashboard and view your stats
                                                        now! </strong></h5>
                                                <p class="card-text"><img style="width: 90%; margin-left: 5%;"
                                                        src="assets/img/stats.jpg"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>