<div class="full-height">
  <ng-container *ngIf="game?.complete">

    <carousel class="row align-items-center justify-content-center" [timer]="timer">
    <!-- <carousel class="row align-items-center justify-content-center"> -->
      <ng-container *carouselItem>
        <div *ngIf="winningTeam" class="winner-label font row" [ngClass]="winningTeam == 'Red' ? 'red': 'blue'">
          {{winningTeam}} team
          victory!
        </div>
        <div *ngIf="!winningTeam" class="winner-label font row">Draw!</div>
        <div class="slide-item"
          style="background-repeat: no-repeat; background-size:100%; background-image: url(assets/victor.jpg);">

          <mat-grid-list cols="7" rowHeight="80px" style="margin-top: 11em;">
            <mat-grid-tile></mat-grid-tile>
            <ng-container *ngFor="let participant of participants">
              <div *ngIf="participant.won">
                <mat-grid-tile [colspan]="1" [rowspan]="8">
                  <mat-card style="overflow: hidden;">
                    <mat-card-content>
                      <p style="text-align: center; word-break:keep-all" class="font">
                        <strong style="font-style: italic; font-size: large">{{participant.champion}}</strong>
                      </p>

                    </mat-card-content>
                    <img mat-card-image
                      src="https://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{participant.champion.split(' ').join('')}}_0.jpg">
                    <mat-card-content>
                      <p style="text-align: center; word-break:keep-all; " class="font">
                        <strong>{{participant.player.summonerName}}</strong>
                      </p>

                    </mat-card-content>
                  </mat-card>
                </mat-grid-tile>
              </div>
            </ng-container>
          </mat-grid-list>
        </div>
      </ng-container>
      <ng-container *carouselItem>
        <div class="slide-item container-fluid"
          style="background-repeat: no-repeat; background-size:100%; background: black; padding: 5px;">
          <div class="winner-label font row">Postgame Stats
          </div>
          <div class="row align-items-center justify-content-center">
            <ng-container *ngFor="let participant of participants">
              <div data-match-id="3074055300" class="ceWbcQ"
                [ngClass]="participant.teamId == 200 ? 'stats-row-red': 'stats-row-blue'">
                <div class="jjLgKi">
                  <div class="gqsiOt">
                    <div class="jBdYUR top-margin" style="margin-right: 30px; width:10px;">
                      <span *ngIf="participant.won"><strong>W</strong></span>
                      <span *ngIf="!participant.won"><strong>L</strong></span>
                    </div>
                    <div class="ilTQSY top-margin">
                      <img class="stats-image" [src]="participant.championSquare">
                    </div>
                    <div style="width: 5px; margin-left: 10px">{{participant.stats.champLevel}}</div>
                    <div class="jBdYUR stats-section" style="width: 20px;">
                      <div class="top-margin">
                        <div class="gZcIoh cXapgT summoner-icon">
                          <img [src]="participant.spell1" class="stats-image eYvKTc summoner-icon">
                        </div>
                        <div class="gZcIoh cXapgT summoner-icon">
                          <img [src]="participant.spell2" class="stats-image eYvKTc summoner-icon">
                        </div>
                      </div>
                    </div>
                    <div class="jBdYUR stats-section" style="margin-left: 85px">
                      <div class="top-margin">
                        <div>
                          <strong>{{participant.stats.kills}}&nbsp;/&nbsp;{{participant.stats.deaths}}&nbsp;/&nbsp;{{participant.stats.assists}}</strong>
                        </div>
                        <div><span style="color:yellow"><strong>{{participant.stats.kda}}</strong></span>
                          <strong>&nbsp; KDA</strong></div>
                      </div>
                    </div>
                    <div class="jBdYUR stats-section">
                      <div class="top-margin">
                        <div><span style="color:yellow"><strong>{{participant.stats.goldEarned}}</strong>
                          </span> <strong>&nbsp; Gold</strong>
                        </div>
                        <div><span style="color:grey"><strong>{{participant.stats.gpm}}</strong>
                          </span> <strong>&nbsp; Per Minute</strong>
                        </div>
                      </div>
                    </div>
                    <div class="jBdYUR stats-section">
                      <div class="top-margin">
                        <div><span style="color:yellow"><strong>{{participant.stats.totalMinionsKilled}}</strong>
                          </span> <strong>&nbsp; CS</strong>
                        </div>
                        <div><span style="color:yellow"><strong>{{participant.stats.wardsPlaced}}</strong>
                          </span> <strong>&nbsp; Wards</strong>
                        </div>
                      </div>
                    </div>
                    <div class="jBdYUR">
                      <div class="top-margin">
                        <div class="gZcIoh cXapgT summoner-icon">
                          <img *ngIf="participant.items[0]" [src]="participant.items[0]"
                            class="stats-image eYvKTc summoner-icon">
                        </div>
                        <div class="gZcIoh cXapgT summoner-icon">
                          <img *ngIf="participant.items[1]" [src]="participant.items[1]"
                            class="stats-image eYvKTc summoner-icon">
                        </div>
                      </div>
                    </div>
                    <div class="jBdYUR">
                      <div class="top-margin">
                        <div class="gZcIoh cXapgT summoner-icon">
                          <img *ngIf="participant.items[2]" [src]="participant.items[2]"
                            class="stats-image eYvKTc summoner-icon">
                        </div>
                        <div class="gZcIoh cXapgT summoner-icon">
                          <img *ngIf="participant.items[3]" [src]="participant.items[3]"
                            class="stats-image eYvKTc summoner-icon">
                        </div>
                      </div>
                    </div>
                    <div class="jBdYUR">
                      <div class="top-margin">
                        <div class="gZcIoh cXapgT summoner-icon">
                          <img *ngIf="participant.items[4]" [src]="participant.items[4]"
                            class="stats-image eYvKTc summoner-icon">
                        </div>
                        <div class="gZcIoh cXapgT summoner-icon">
                          <img *ngIf="participant.items[5]" [src]="participant.items[5]"
                            class="stats-image eYvKTc summoner-icon">
                        </div>
                      </div>
                    </div>
                    <div class="jBdYUR">
                      <div class="top-margin">
                        <div class="gZcIoh cXapgT summoner-icon">
                          <img *ngIf="participant.wardItem" [src]="participant.wardItem"
                            class="stats-image eYvKTc summoner-icon">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
      <ng-container *carouselItem>
        <div class="slide-item container-fluid"
          style="background-repeat: no-repeat; background-size:100%; background: black; padding: 5px;">
          <app-gifs [timer]="timer/2"></app-gifs>
        </div>
      </ng-container>
    </carousel>
  </ng-container>
  <ng-container *ngIf="!game || !game.complete">
    <div class="winner-label font row">Something went wrong! We'll back shortly :)
    </div>
    <img class="error row" src="assets/urf.jpg">
  </ng-container>
</div>